
<div class="login">
  <h2>Reset password</h2>
  <% form_tag do %>
    <%= error_message_on(@stream, :change_password_token) %>
    <%= error_message_on(@stream, :password) %>
    <%= password_field_tag(:new_password) %>
    <%= password_field_tag(:new_password_repeat) %>
    <%= hidden_field_tag(:token, params[:token]) %>
    <%= submit_tag_with_notice('Let me in!') %>
    <br/><br/>
  <% end %>
</div>