<% content_for(:head) do %>
  <%= stylesheet_link_tag('lightbox') %>
  <%= javascript_include_tag('lightbox') %>
<% end %>

<div class="engage">
  <%= link_to('Kakuteru', '/', :class => 'kakuteru') %>
  <div class="status">
    <p>
      Right now Kakuteru is in a closed Beta. 
      This will help us iron out the kinks and give us some time to scale up.
      If you didn't manage to get an invite, keep your eyes and ears open - the second batch is coming soon!
    </p>
  </div>
  <div class="invite">
    <% form_tag do %>
      <p><label for="stream_subdomain">Pick a name: </label><%= text_field(:stream, :subdomain, :class => 'text') %><span>.kakuteru.com</span></p>
      <p><label for="stream_invite_key">Invite code: </label><%= text_field(:stream, :invite_code, :class => 'invite code text') %></p>
      <p><label></label><%= submit_tag('Get started!', :class => 'get started') %></p>
    <% end %>
    <% if false %>
      <% unless flash[:notice] %>
        <% form_tag(invite_url) do %>
          <label for="invite_email">E-mail: </label>
          <%= text_field(:invite, :email) %>
          <%= submit_tag('Sign me up!') %>
        <% end %>
      <% else %>
        <p class="notice"><%= flash[:notice]%></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="about">
  <div class="facts">
    <div>
      <ul>
        <% 
          intro = [
            [:your_style, "Lifestreaming, YOUR style"],
            [:activity, "Your activity anywhere"],
            [:web30_enabled, "Web 3.0 enabled"],
            [:integration, "An integration Behemoth"],
            [:statistics, "Activity stats"],
            [:clusters, "Coming soon!"]
          ]
         %>
        <% intro.each do |key_caption| 
            key,caption = key_caption
          %>
          <li>
            <%= link_to(caption, "/images/intro_#{key.to_s}.png", :rel => "lightbox[intro]", :title => caption, :class => key.to_s) %>
          </li>
        <% end %>
    </div>
  </div>
</div>

<%= javascript_tag("$('stream_subdomain').focus();") %>

<div class="footer">
  <h1>About</h1>
  <p><%= link_to('Kakuteru', 'http://kakuteru.com/') %> is a part time endeavor initiated by <%= link_to('Dominiek ter Heide', 'http://dominiek.com/') %>. Kakuteru is a play-bed for new technologies and it started out because of the need to pimp up and lifestreamatize my blog. However, I think it can be much more.</p>
  <p>Kakuteru is Open Source and can be freely downloaded from <%= link_to('Github', 'http://github.com/dominiek/kakuteru/tree') %>. Kakuteru.com is a way of turning that same piece of open source into an awesome and robust service. Kakuteru embraces openness and to continue along that same mindset, I intend to make Kakuteru an Open Business. That means anyone can jump in and make Kakuteru great and profitable - with ownership in return. How am I going to accomplish this? I have no freakin' idea! So if your interested, please pop me an email @ kakuteru [ monkeytail ] dominiek.com</p>
</div>