
<div class="claim stream">
  <% form_tag do %>
    <span class="claim domain"><%= request.subdomains.first %>.kakuteru.com is free!</span>
    <p>
      Setting up your lifestream can take only a couple of seconds. 
      First we protect this domain by password and finally we suck in your digital life. <%= link_to('learn more', 'http://kakuteru.com/') %></p>
    <h2>1. Pick a password</h2>
    <%= error_message_on(@stream, :password) %>
    <p><label for="password">Password:</password> <%= password_field(:stream, :new_password) %></p>
    <p><label for="password_repeat">Again:<label> <%= password_field(:stream, :new_password_repeat) %></p>
    <%= submit_tag('continue') %>
  <% end %>
</div>