<div class="write">
  <% form_tag do %>
    <p><label for="title">Title:</label> <%= text_field(:post, :caption) %></p>
    <p><%= text_area(:post, :body) %></p>
    <p><label for="tags">Tags:</label> <small>Leave empty for auto-tagging</small> <%= text_field(:post, :tag_list) %></p>
    <% unless @post.new_record? %>
      <p>Draft? <%= check_box(:post, :is_draft) %></p>
    <% end %>
    <p>Enable Tweet, Digg and Addthis? <%= check_box(:post, :is_votable) %></p>
    <p><%= select(:post, :markup, Post::SUPPORTED_MARKUP_FORMATS) %></p>
    <%= submit_tag(@post.new_record? ? 'save as draft' : 'save') %>
  <% end %>
</div>