<li class="<%= media_post.type %>">
  <div class="body">
    <%= render(:partial => media_post.type, :locals => {:post => media_post, :context => 'media'}) %>
  </div>
  <div class="details">
    <abbr class="published" title="<%= media_post.published_at.iso8601 %>"><%= distance_of_time_in_words_to_now(media_post.published_at) %> ago</abbr>
    ·
    <% unless @stream.disqus_forum_identifier.blank? %>
      <%= link_to(pluralize(0, 'comment'), read_url(:id => media_post) + '#comments', :rel => 'bookmark url') %>
    <% end %>
    <address class="hide vcard author"><a class="url fn" href="<%= @stream.blog_url %>"><%= @stream.author %></a></address>
  </div>
</li>