<ul class="posts">
  <% @posts.each do |post| 
       next unless post.type
    %>
    <li class="hentry <%= post.type %>" rel="<%= post.type.pluralize %>">
      <div class="entry-content body">
        <%= render(:partial => post.type, :locals => {:post => post}) %>
      </div>
      <div class="info">
        <abbr class="published" title="<%= post.published_at.iso8601 %>"><%= distance_of_time_in_words_to_now(post.published_at) %> ago</abbr>
        ·
        <% unless @stream.disqus_forum_identifier.blank? %>
          <%= link_to(pluralize(0, 'comment'), read_url(:id => post), :rel => 'bookmark url') %>
        <% end %>
        <address class="hide vcard author"><a class="url fn" href="<%= @stream.blog_url %>"><%= @stream.author %></a></address>
        
      </div>
    </li>
  <% end %>
</ul>