<html>
  <head>
    <title>Dashboard</title>
    <%= stylesheet_link_tag('html') %>
    <%= stylesheet_link_tag('application') %>
    <%= stylesheet_link_tag('dashboard') %>
    <%= javascript_include_tag(:defaults) %>
  </head>
  
  <body>
    <div class="navigation">
      <span><%= link_to(@stream.friendly_url, '/') %></span>
      <% if @authenticated %>
        <ul>
          <li><%= link_to('settings', {:controller => :dashboard}, :class => (params[:controller] == 'dashboard') ? 'active' : '') %></li>
          <li><%= link_to('design', {:controller => :design}, :class => (params[:controller] == 'design') ? 'active' : '') %></li>
          <li><%= link_to('activity', manage_stream_path, :class => (current_page?(manage_stream_path)) ? 'active' : '') %></li>
          <li><%= link_to('articles', manage_articles_path, :class => (current_page?(manage_articles_path)) ? 'active' : '') %></li>
        </ul>
      <% end %>
    </div>
    <div class="page clear">
      <%= yield %>
    </div>
    <script src="http://kakuteru.uservoice.com/pages/general/widgets/tab.js?alignment=right&amp;color=121212" type="text/javascript"></script>
  </body>
</html>