<html>
  <head>
    <title>Setup <%= request.subdomains.first %>.kakuteru.com</title>
    <%= stylesheet_link_tag('html') %>
    <%= stylesheet_link_tag('application') %>
    <%= stylesheet_link_tag('dashboard') %>
    <%= javascript_include_tag(:defaults) %>
  </head>
  
  <body>
    <div class="navigation">
      <span><%= link_to(APPLICATION_NAME, '/') %></span>
    </div>
    <div class="page clear">
      <%= yield %>
    </div>
  </body>
</html>